{% extends 'base.html' %}


{% block head_title %} 

{% endblock %}


{% block content %}
<div class='row text-center'>
  <div class="col">
    <h1>Welcome to Twitter Clone</h1>
  </div>
</div>

<div class="row mb-3">
  <div class='col-md-4 mx-auto col-10'>
    <form class='form' method='POST' id='tweet-create-form' action='/create-tweet'>
      {% csrf_token %}
      <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
      <input type='hidden' value='/' name='next' />
      <textarea required='required' class='form-control' name='content' placeholder='Your Tweet'></textarea>
      <button type='submit' class='btn btn-primary'>Tweet</button>
  </div>
</div>

<div class='row' id='tweets'>
  Loading...
</div>

<script>

function handleTweetFormError(message, display) {
  let errorElement = document.getElementById('tweet-create-form-error')
  if (display === true) {
    errorElement.setAttribute('class', 'd-block alert alert-danger')
    errorElement.innerText = message
  } else {
    errorElement.setAttribute('class', 'd-none alert alert-danger')
  }
}

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}



function handleFormDidSubmit(event) {
  event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
      if (xhr.status === 201) {
        handleTweetFormError('', false)
        const newTweet = xhr.response
        const newTweetJson = JSON.parse(newTweet)
        const newTweetElement = formatTweetElement(newTweetJson)
        const originalHTML = tweetsContainerElement.innerHTML
        tweetsContainerElement.innerHTML = newTweetElement + originalHTML
        myForm.reset()
      } else if (xhr.status === 400) {
        const errorJson = xhr.response
        const contentError = errorJson.content
        let contentErrorMessage;
        
        if (contentError) {
          contentErrorMessage = contentError[0]
          if (contentErrorMessage) {
            handleTweetFormError(contentErrorMessage, true) 
          } else {
            alert('Error occured.')
          }
          } else {
          alert('Error occured.')
        }
        

      } else if (xhr.status === 500) {
        alert('Server error')
      } else if (xhr.status === 401) {
        alert('Must be logged in')
        window.location.href = '/login'
      } else if (xhr.status === 403) {
        alert('Must be logged in!')
        window.location.href = '/login'
      } 
      
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById('tweet-create-form')

tweetCreateFormEl.addEventListener('submit', handleFormDidSubmit)


const tweetsContainerElement = document.getElementById("tweets")

function loadTweets(tweetsElement) {
  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const url = '/tweets'
  const responseType = "json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
    let serverResponse = xhr.response
    let listedItems = serverResponse;
    let finalTweetStr = "";

    for (const tweet of listedItems) {
      finalTweetStr += formatTweetElement(tweet)
    }

    tweetsElement.innerHTML = finalTweetStr
  }
  xhr.send()

}

loadTweets(tweetsContainerElement)


function handleTweetAction(tweet_id, currentCount, action) {
  const url = '/api/tweets/action'
  const method = 'POST'
  const data = JSON.stringify({
    id: tweet_id,
    action: action
  })

  const xhr = new XMLHttpRequest()
  const csrftoken = getCookie('csrftoken');
  xhr.open(method, url)
  xhr.setRequestHeader('Content-Type', 'application/json')
  xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
  xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
  xhr.setRequestHeader('X-CSRFToken', csrftoken)
  xhr.onload = function() {
    loadTweets(tweetsContainerElement)
  }
  xhr.send(data)
}

function likeButton(tweet) {
  return "<button class='btn btn-primary btn-sm' onclick=handleTweetAction(" + tweet.id 
  + "," + tweet.likes + ",'like')>" + tweet.likes + " Like</button> "
}

function unLikeButton(tweet) {
  return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetAction(" + tweet.id 
  + "," + tweet.likes + ",'unlike')>Unlike</button> "
}

function retweetButton(tweet) {
  return "<button class='btn btn-outline-success btn-sm' onclick=handleTweetAction(" + tweet.id 
  + "," + tweet.likes + ",'retweet')>Retweet</button> "
}

function formatTweetElement(tweet) {
  return "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id  
   + "'><p>" + tweet.content + 
    "</p><div class='btn-group'>" + likeButton(tweet) + unLikeButton(tweet) + retweetButton(tweet) + 
    "</div></div>" 
}


</script>

{% endblock content%}