{% extends 'base.html' %}


{% block head_title %} 

{% endblock %}


{% block content %}
<div class='row text-center'>
  <div class="col">
    <h1>Welcome to Twitter Clone</h1>
  </div>
</div>

<div class='row' id='tweets'>
  Loading...
</div>

<script>
const tweetsElement = document.getElementById("tweets")


const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = "json"

function handleDidLike (tweet_id, currentCount) {
  console.log(tweet_id)
  console.log(currentCount)


}

function likeButton(tweet) {
  return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id 
  + "," + tweet.likes + ")>" + tweet.likes + " Likes</button> "
}

function formatTweetElement(tweet) {
  return "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id  
   + "'><p>" + tweet.content + 
    "</p><div class='btn-group'>" + likeButton(tweet) +
    "</div></div>" 

}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {

  let listedItems = xhr.response.response;
  let finalTweetStr = "";

  for (const tweet of listedItems) {
    finalTweetStr += formatTweetElement(tweet)
  }

  tweetsElement.innerHTML = finalTweetStr
}
xhr.send()
</script>

{% endblock content%}