{% extends 'base.html' %}


{% block head_title %} 

{% endblock %}


{% block content %}
<div class='row text-center'>
  <div class="col">
    <h1>Welcome to Twitter Clone</h1>
  </div>
</div>

<div class="row mb-3">
  <div class='col-md-4 mx-auto col-10'>
    <form class='form' method='POST' id='tweet-create-form' action='/create-tweet'>
      {% csrf_token %}
      <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
      <input type='hidden' value='/' name='next' />
      <textarea required='required' class='form-control' name='content' placeholder='Your Tweet'></textarea>
      <button type='submit' class='btn btn-primary'>Tweet</button>
  </div>
</div>

<div class='row' id='tweets'>
  Loading...
</div>

<script>

function handleTweetFormError(message, display) {
  let errorElement = document.getElementById('tweet-create-form-error')
  if (display === true) {
    errorElement.setAttribute('class', 'd-block alert alert-danger')
    errorElement.innerText = message
  } else {
    errorElement.setAttribute('class', 'd-none alert alert-danger')
  }
}



function handleFormDidSubmit(event) {
  event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
      if (xhr.status === 201) {
        handleTweetFormError('', false)
        const newTweet = xhr.response
        const newTweetJson = JSON.parse(newTweet)
        const newTweetElement = formatTweetElement(newTweetJson)
        const originalHTML = tweetsContainerElement.innerHTML
        tweetsContainerElement.innerHTML = newTweetElement + originalHTML
        myForm.reset()
      } else if (xhr.status === 400) {
        const errorJson = xhr.response
        const contentError = errorJson.content
        let contentErrorMessage;
        
        if (contentError) {
          contentErrorMessage = contentError[0]
          if (contentErrorMessage) {
            handleTweetFormError(contentErrorMessage, true) 
          } else {
            alert('Error occured.')
          }
          } else {
          alert('Error occured.')
        }
        

      } else if (xhr.status === 500) {
        alert('Server error')
      } else if (xhr.status === 401) {
        alert('Must be logged in')
        window.location.href = '/login'
      }
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById('tweet-create-form')

tweetCreateFormEl.addEventListener('submit', handleFormDidSubmit)


const tweetsContainerElement = document.getElementById("tweets")

function loadTweets(tweetsElement) {
  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const url = '/tweets'
  const responseType = "json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {

    let listedItems = xhr.response.response;
    let finalTweetStr = "";

    for (const tweet of listedItems) {
      finalTweetStr += formatTweetElement(tweet)
    }

    tweetsElement.innerHTML = finalTweetStr
  }
  xhr.send()

}

loadTweets(tweetsContainerElement)


function handleDidLike (tweet_id, currentCount) {
  console.log(tweet_id)
  console.log(currentCount)
}

function likeButton(tweet) {
  return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id 
  + "," + tweet.likes + ")>" + tweet.likes + " Likes</button> "
}

function formatTweetElement(tweet) {
  return "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id  
   + "'><p>" + tweet.content + 
    "</p><div class='btn-group'>" + likeButton(tweet) +
    "</div></div>" 
}


</script>

{% endblock content%}